<header>
    <h1 id="title">Task Tracker</h1>
    <nav id="navBar">
        <ul>
            <li class="navButton"><a  href="/">Home</a></li>
            <li class="navButton"><a href="/new-task">New Task</a></li>
        </ul>
</header>