<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../calendar.css">
</head>

<body>
    <div id="layout">
        <%- include("./partials/header.ejs") %>

            <div id="content">
                <% today = date
                const month = today.toLocaleString('default', {month: 'long'}) 
                const year = today.getFullYear()%>

                <!-- MONTHPICKER -->
                <section id="monthPicker">
                    <button class="monthArrow" id="previousMonth">
                        <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 4V20M8 12H20M8 12L12 8M8 12L12 16" stroke="#000000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div id="currentDate">
                        <h2 id="monthLabel"><%= month %></h2>
                        <h2 id="yearLabel"><%= year %></h2>
                    </div>
                    <button class="monthArrow" id="nextMonth">
                        <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4V20M4 12H16M16 12L12 8M16 12L12 16" stroke="#000000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </section>

                <!-- DAY VIEW -->
                <section id="dayView">
                    <%  %>
                    <div class="day">
                        <p class="dayTitle">01</p>
                        <div class="task-completed">
                            <svg width="18px" height="18px" viewBox="0 0 24 24" fill="limegreen" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p><span>10</span> Done</p>
                        </div>

                        <div class="task-late">
                            <svg width="18px" height="18px" viewBox="0 0 24 24" fill="yellow" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p><span>10</span> Late</p>
                        </div>

                    <div class="task-pending">
                        <svg width="18px" height="18px" viewBox="0 0 24 24" fill="gray" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p><span>10</span> Pending</p>
                    </div>
                    </div>
                </section>
            </div>
            <%- include("./partials/footer.ejs") %>
    </div>
</body>

</html>