<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Task Tracker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="layout">

        <%- include('./partials/header.ejs') %>

        <div id="content">

                <!--PENDING TASKS -->
                <section class="content-box" id="task-list-pending">
                    <h2 class="sectionTitle">Pending Task</h2>
                    <div class="task-grid">

                        <% let completedTask=[]; if (tasks && tasks.length> 0) { %>
                            <% tasks.forEach(task=> {%>
                                <%- include('./partials/taskTemplate.ejs', {task: task}) %>
                                <%}); %>
                                <% } else { %>
                                        <p>No pending task</p>
                                <% } %>
                    </div>
                </section>

            <!-- COMPLETED TASKS -->
            <section class="content-box" id="task-list-completed">
                <h2 class="sectionTitle">Completed Task</h2>
                <% if (completedTask.length> 0){ %>
                    <% } else {%>
                        <p>No pending task</p>
                    <% } %>
            </section>

        </div>

        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>