<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Task | Task Tracker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="new-task.css">
</head>
<body>
    <div id="layout">
        <%- include('./partials/header.ejs') %>
        <div id="content">
            <form action="/new-task" method="post" id="new-task-form">
                <h2 id="formTitle">New Task</h2>
                
                    <label for="titleBox" class="hiddenLabel">Title</label>
                    <input type="text" placeholder="Title..." name="title" id="taskTitleBox"  class="formBox" required>
                
    
                
                <div  class="halfBox">
                    <div class="formBox" id="category">
                        <label for="categorySelector"  class="hiddenLabel">Category</label>
                        <div class="innerBox">
                            <div class="radioSelector">
                                <input type="radio" name="category" id="Bar" value="Bar" required>
                                <label for="Bar">Bar</label>
                            </div>
                            <div class="radioSelector">
                                <input type="radio" name="category" id="Floor" value="Floor" required>
                                <label for="Floor">Floor</label>
                            </div>
                            <div class="radioSelector">
                                <input type="radio" name="category" id="Admin" value="Admin" required>
                                <label for="Admin">Admin</label>
                            </div>
                        </div>
                    </div>

                    <div class="formBox" id="dueTime">
                        <label for="dueTimeInput" class="hiddenLabel">Due Time</label>
                        <div class="innerBox">
                            <input type="time" name="dueTime" id="dueTimeInput" required>
                            <input type="date" name="dueDate" id="dueDateInput" required>
                        </div>
                    </div>
                </div>

    
                    <label for="description" class="hiddenLabel">Description</label>
                    <textarea placeholder="Describe the task..." name="description" class="formBox" id="description" required></textarea>
    
                <div class="formBox" id="frequency">
                    <label for="frequencySelector" class="hiddenLabel">Frequency</label>
                    <div class="innerBox" id="frequencySelector">
                        <div class="radioSelector">
                            <input type="radio" name="frequency" id="Once" value="Once" required>
                            <label for="Once">Once</label>
                        </div>
                        <div class="radioSelector">
                            <input type="radio" name="frequency" id="Daily" value="Daily" required>
                            <label for="Daily">Daily</label>
                        </div>
                        <div class="radioSelector">
                            <input type="radio" name="frequency" id="Weekly" value="Weekly" required>
                            <label for="Weekly">Weekly</label>
                        </div>
                        <div class="radioSelector">
                            <input type="radio" name="frequency" id="Monthly" value="Monthly" required>
                            <label for="Monthly">Monthly</label>
                        </div>

                    </div>
                </div>
    
                <button type="submit" id="submitTaskButton"><span>Create Task</span></button>
            </form>
        </div>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>