.content-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 2px #333;
    border: 2px #333 solid;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
}
.task-grid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.task-box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle{
    width: 100%;
    padding: 5px;
    border-bottom: #333 1px solid;
    margin-bottom: 20px;
}
.sectionDate{
    padding: 5px;
    font-size: 20px;
    width: 300px;
}

/* TASK TEMPLATE */
.task-template{
    display: grid;
    background-color: #fff;
    border: #333 2px solid;
    box-shadow: 2px 2px 2px #333;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    grid-template-areas: 
    'CATEGORY TITLE COMPLETE DUE';
    grid-template-columns: 120px 1fr 100px 80px;
    gap: 5px;
    transition: all 0.5s;
    overflow: hidden;
    max-height: 200px;
    text-overflow: ellipsis;
}
.task-template:hover{
    box-shadow: none;
}

.task-title{
    grid-area: TITLE;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.task-complete{
    grid-area: COMPLETE;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.task-category{
    grid-area: CATEGORY;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #333 solid;
    border-radius: 8px;
    padding: 8px;
    width: 80px;
    max-height: 60px;
}

.task-due{
    grid-area: DUE;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
    border-left: 2px solid #333;
    overflow: hidden;
}
.task-completed{
    grid-area: DUE;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #333;
    justify-content: center;
    padding-left: 20px;
    font-size: large;
}

.task-description{
    grid-area: DESCRIPTION;
    padding: 5px;
    margin-block: 10px;
    border-radius: 5px;
    border: #aaa 1px solid;
}

.icon-button{
    padding: 5px;
}

/* MEDIA QUERY */
@media screen and (max-width:850px) {
    .content-box{
        padding: 10px;
    }
    .task-box-header{
        display: flex;
        flex-direction: row;
    }
    .sectionTitle{
        padding: 0;
        margin: 0;
    }
    .sectionDate{
        display: none;
    }
    .task-template{
        display: grid;
        grid-template-areas: 
        'CATEGORY COMPLETE DUE'
        'TITLE TITLE DUE';
        margin: 0;
        margin-block: 5px;
        padding: 10px;
        grid-template-columns: 80px 1fr 80px;
        grid-template-rows: 1fr 1fr;
    }
    .task-complete{
        grid-area: COMPLETE;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .task-title{
        grid-area: TITLE;
        display: flex;
        margin: 0;
    }
    .task-category{
        grid-area: CATEGORY;
    }
    .task-completed{
        grid-area: DUE;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
    }
}