.content-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 2px #333;
    border: 2px #333 solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    flex-grow: 1;
}
.task-grid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.task-box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle{
    width: 100%;
    padding: 5px;
    border-bottom: #333 1px solid;
    margin-bottom: 20px;
}

/* TASK TEMPLATE */
.task-template{
    background-color: #fff;
    border: #333 2px solid;
    box-shadow: 2px 2px 2px #333;
    border-radius: 10px;
    margin: 10px;
    display: grid;
    padding: 20px;
    flex-grow: 1;
    grid-template-areas: 'CATEGORY TITLE DUE';
    grid-template-columns: 120px 1fr 80px;
    transition: all 0.5s;
}
.task-template:hover{
    box-shadow: none;
}

.task-title{
    grid-area: TITLE;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.task-category{
    text-align: end;
    grid-area: CATEGORY;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #333 solid;
    border-radius: 8px;
    padding: 8px;
    width: 80px;
}

.task-due{
    grid-area: DUE;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
    border-left: 2px solid #333;
}

.task-description{
    grid-area: DESCRIPTION;
    padding: 5px;
    margin-block: 10px;
    border-radius: 5px;
    border: #aaa 1px solid;
}

.icon-button{
    padding: 5px;
}