#new-task-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #333;
}

#formTitle{
    font-size: 32px;
}

.formBox{
    margin-block: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    background-color: #FFF;
    border: #333 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #333;
    padding: 20px;
    flex-wrap: wrap;
    font-size: larger;
}
.halfBox{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.innerBox{
    margin-top: 10px;
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.radioSelector{
    display: flex;
    align-items: center;
    input{
        margin: 10px;
        width: 30px;
        height: 30px;
    }
}
.hiddenLabel{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* TASK TITLE */
#taskTitleBox{
    height: 80px;
    width: 100%;
    padding: 20px;
    font-size: larger;
}

/* TASK CATEGORY */

/* DUE TIME & DATE */
#dueTimeInput, #dueDateInput{
    flex-grow: 1;
    height: 50px;
    font-size: 28px;
    text-align: center;
    border: none;
    margin-inline: 10px;
}

/* TASK DESCRIPTION */
#description{
    min-height: 250px;
}

/* TASK FREQUENCY */

/* SUBMIT BUTTON */
#submitTaskButton{
    height: 60px;
    border: #333 2px solid;
    background: #444;
    border-radius: 10px;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}
#submitTaskButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: green;
    transition: left 0.5s ease-out;
    z-index: 1;
}
#submitTaskButton span {
    position: relative;
    z-index: 2;
}
#submitTaskButton:hover::before {
    left: 0;
}
#submitTaskButton:active{
    background: #444;
}

/* MEDIA QUERY */
@media screen and (max-width:850px) {
    #content{
        margin: 0;
    }
    #new-task-form{
        padding: 10px;
    }
    #formTitle{
        font-size: 20px;
    }
    #taskTitleBox{
        height: auto;
        padding: 10px;
    }
    .halfBox{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .innerBox{
        margin: 0;
        padding: 0;
        width: auto;
        justify-content: space-between;
    }
    .formBox{
        padding: 0px;
        font-size: medium;
    }
    #dueTimeInput, #dueDateInput{
        font-size: medium;
        
    }
    #description{
        padding: 10px;
        min-height: 150px;
    }
    #frequencySelector{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}