@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    color: black;
}
h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
}

#layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    width: 75%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
}

#title {
    margin: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

#navBar {
    ul {
        display: flex;
        flex-direction: row;
    }

    margin-right: 20px;
}

.navButton {
    a{
        display: flex;
        padding: 10px;
        width: 80px;
        margin-block: 10px;
        margin-inline: 20px;
        border: #333 solid 2px;
        border-radius: 10px;
        background-color: #f0f0f0;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        box-shadow: 2px 2px 2px #333;
        svg{
            stroke: #333;
            stroke-width: 1.5px;
        }
    }
    a:hover{
        box-shadow: none;
        /*background-color: #333;
        scale: 1.1;
        svg{
            stroke: #fff;
        }*/
    }
    a:active{
        background-color: black;
    }
}

footer{
    width: 100%;
    height: 30px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBar{
    background-color: lightblue;
}
.colorFloor{
    background-color: lime;
}
.colorAdmin{
    background-color: pink;
}

.task-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px #333 solid;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: all 0.3s;
    box-shadow: 2px 2px 2px #333;
    margin-inline: 20px;
    margin-block: 10px;
    transition: all 0.5s;
    svg{
        stroke: #333;
        stroke-width: 1.5px;
        height: 50px;
        width: 50px;
    }
}
.task-button:hover{
    box-shadow: none;
}
#task-complete:hover {
    svg{
        stroke: lime;
        stroke-width: 2px;
    }
}
#task-delete:hover {
    svg{
        stroke: red;
        stroke-width: 2px;
    }
}