#layout{
    justify-content: center;
    align-items: center;
}

/* CARD */
.card{
    width: 80%;
    height: 80%;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 120px 1fr 160px;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
    'CATEGORY TITLE DUE'
    'DESCRIPTION DESCRIPTION DESCRIPTION'
    'ACTION ACTION ACTION';
}

/* BACK */
#task-back{
    grid-area: BACK;
}

/* TITLE */
.task-title{
    grid-area: TITLE;
    font-size: xx-large;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* CATEGORY TAG */
.task-category{
    grid-area: CATEGORY;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #333;
    box-shadow: 2px 2px 2px #333;
}

/* DESCRIPTION */
.task-description{
    grid-area: DESCRIPTION;
    padding: 20px;
    font-size: larger;
    overflow: hidden;
}

/* DUE */
.task-due{
    grid-area: DUE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-left: #333 2px solid;
    padding-left: 10px;
    p{
        font-size: x-large;
    }
}


/* ACTIONS */
.task-actions{
    grid-area: ACTION;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* POP UP */
.modal{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 100dvh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100dvb;
    width: 100%;
}
.modal.open{
    top: 0;
}

.popup-box{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
    height: 20%;
    transition: all 0.5s ease-in-out;
    z-index: 999;
    background-color: #f0f0f0;
    color: black;
    border: 10px solid red;
    box-shadow: 5px 5px 5px #333;
    .popup-actions{
        display: flex;
        margin: 10px;
        button{
            font-weight: 600;
            font-size: large;
        }
    }
}
.popup-box.open{
    top: 20dvh;
}